{% from 'field-macro.html' import displayField %}
{% extends "prelogin-layout.html" %}

{% block head %}
<title>Chat Log In</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/styles/login.css">
{% endblock %}

{% block content %}
    <div id="main-container">
    <div id="main-header">
        <div id="header">
            <h1>Sign In</h1>
        </div>
    </div>
    <div id="main-content">
        <div id="login-form">
            <form action="{{ url_for('login') }}" method="POST">
                <label for="user-name" class="form-label">Name</label><br>
                {{ displayField(form.username, autocomplete="off", class="user-input") }}
                <label for="user-password" class="form-label">Password</label><br>
                {{ displayField(form.password, class="user-input") }}
                <!-- needs to be replaced with better animation -->
                <div class="form-group">
                    <input type="submit" value="Login" id="submit-button"><br>
                </div>
                {{ form.csrf_token }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
