{% from 'field-macro.html' import displayField %}
{% extends "prelogin-layout.html" %}

{% block head %}
<title>Chat Log In</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/styles/register.css">
{% endblock %}

{% block content %}

        <form action="{{ url_for('index') }}", method="POST">
            <div id="main-container">
                <div id="main-header">
                    <div id="header">
                        <h1>Register</h1>
                    </div>
                </div>
                <div id="main-content">
                    <div id="login-form">
                        <form action="{{ url_for('index') }}" method="POST">
                            <label for="user-name" class="form-label">Name</label><br>
                            {{ displayField(form.username, autocomplete="off", autofocus=true, class="user-input", id="name") }}
                            <label for="user-password" class="form-label" id="pass1">Password</label><br>
                            {{ displayField(form.password, class="user-input") }}
                            <label for="user-password" class="form-label" id="pass2">Confirm Password</label><br>
                            {{ displayField(form.confirm_pswd, class="user-input") }}
                            <div id="submit">
                                <input type="submit" value="Register" id="submit-button">
                            </div>
                        </form>
                        {{ form.csrf_token }}
                    </div>
                </div>
                <div id="main-footer"></div>
            </div>
            <script src="/static/scripts/register.js"></script>
            {{ form.csrf_token }}
        </form>
        
{% endblock %}