@import url('https://fonts.googleapis.com/css?family=Baloo+Da+2&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Baloo Da 2', cursive;
    scroll-behavior: smooth;
}

body{
    background-color: #6e7a8a;
}

#wrapper{
    text-align: center;
    height: 100%;
}

#wrapper
#main-container{
    text-align: left;
    display: inline-block;
    position: relative;
    margin-top: 5%;
    width: 60%;
    height: 88vh;
    border-radius: 15px;
    background-color: #e1e7ec;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

#wrapper
#main-container
#main-header{
    padding-left: 28%;
    padding-top: 1%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    color: #404b5a;
}

#wrapper
#main-container
#main-sidebar{
    display: flexbox;
    position: absolute;
    top: 0%;
    border-radius: 15px 0 0 10px;
    width: 25%;
    height: 100%;
    background-color: #d5dde5;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
}

#wrapper
#main-container
#main-sidebar
#content-sidebar{
    margin-top: 8%;
}

#wrapper
#main-container
#main-sidebar
#content-sidebar
#searchbox-sidebar{
    margin-bottom: 20px;
    margin-left: 15%;
    border-radius: 20px;
    border: none;
    width: 65%;
    height: 23px;
    background-color: #e1e7ec;
    padding: 10px;
}

#wrapper
#main-container
#main-sidebar
#content-sidebar
li{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #404b5a;
    padding-left: 0px;
    padding-left: 10%;
    padding-bottom: 22px;
    padding-top: 23px;
    border-bottom: 0.25px solid rgba(0, 0, 0, 0.1);
    border-top: 0.25px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#wrapper
#main-container
#main-sidebar
#content-sidebar
li:hover{
    background-color: #36BDBD;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

#wrapper
#main-container
#main-sidebar
#content-sidebar
li:active{
    background-color: #00B4B4;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

#wrapper
#main-container
#main-content{
    position: relative;
    margin-left: 28%;
    max-height: 83%;
    overflow: auto;
}

#wrapper
#main-container
#main-content
#chat-display{
    
}

#wrapper
#main-container
#main-content
#chat-display
.self-message{
    background-color: #00B4B4;
    color: black;
    width: fit-content;
    max-width: 40%;
    padding: 12px;
    border-radius: 20px 20px 0 20px;
    position: relative;
    margin-left: auto;
    margin-right: 3%;
    right: 2px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.01);
}

#wrapper
#main-container
#main-content
#chat-display
.self-name{
    margin-left: 88%;
    margin-top: 10px;
    color: #404b5a;
}

#wrapper
#main-container
#main-content
#chat-display
.other-message{
    background-color:#f1f1f1;
    color: black;
    border-radius: 20px 20px 20px 0;
    width: fit-content;
    max-width: 40%;
    padding: 12px;
    position: relative;
    margin-left: 0;
    margin-right: auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.01);
}

#wrapper
#main-container
#main-content
#chat-display
.other-name{
    margin-left: 5px;
    margin-top: 10px;
    color: #404b5a;
}

#wrapper
#main-container
#main-content
#chat-display
.timestamp-message{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #6e7a8a;
}

#wrapper
#main-container
#main-chatbox{
    position: fixed;
    width: 43%;
    top: 87%;
    padding-top: 15px;
    background-color: #e1e7ec;
}

#wrapper
#main-container
#main-chatbox
#user-chatbox{
    width: 88%;
    height: 10%;
    border-radius: 20px;
    border: none;
    background-color: #d1dde5;
    font-size: medium;
}

#wrapper
#main-container
#main-chatbox input[type=text]{
    padding-left: 10px;
}

#wrapper
#main-container
#main-chatbox
#user-send{
    margin-left: 10px;
    padding-top: 4px;
    border: none;
    background-color: #e1e7ec;
}

#wrapper
#main-container
#main-chatbox
#user-send
.fa-paper-plane{
    font-size: x-large;
    color: #008989;
}

#wrapper
#main-container
#main-chatbox
.fa-button
.fa-paper-plane:hover{
    color: #00B4B4;
}