@import url('https://fonts.googleapis.com/css?family=Baloo+Da+2&display=swap');

*{
    margin: 0;
    padding: 0;
    /* text-decoration: none; */
    box-sizing: border-box;
    list-style: none;
    font-family: 'Baloo Da 2', cursive;
}

body{
    background-color: #6e7a8a;
}

#main-container{
    background-color: #e1e7ec;
    position: absolute;
    margin-left: 30%;
    margin-top: 8%;
    height: 75%;
    width: 40%;
    border-radius: 150px 0 150px 0;
    border: 1px solid #00B1B4;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

#main-container
#main-header{
    color: #00b4b4;
    margin-top: 8%;
    margin-bottom: 5%;
    text-align: center;
    font-size: x-large;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
}

#main-container
#main-content{
    width: 100%;
    padding-left: 8%;
    height: 100%;
}

#main-container
#main-content
.form-label{
    font-size: larger;
    font-style: normal;
    color: #202833;
    margin-bottom: 5px;
}

#main-container
#main-content
#login-form
.user-input{
    border: none;
    background-color: #f5f5f5;
    border-bottom: 2px solid #00B4B4;
    color: #202833;
    width: 90%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: large;
}

/* place font awesome icon within text input */
#main-container
#main-content
#login-form
.textbox-icon input[type=text]{
    padding-left: 30px;
}

#main-container
#main-content
#login-form
.textbox-icon input[type=password]{
    padding-left: 30px;
}

#main-container
#main-content
#login-form
.textbox-icon{
    position: relative;
}

#main-container
#main-content
#login-form
.textbox-icon
i{
    position: absolute;
    left: 2px;
    top: 15px;
    color: #006B6B;
}

#main-container
#main-content
#login-form
#submit-button{
    background-color: rgb(243, 163, 35);
    border-radius: 10px;
    padding: 2% 6%;
    font-size: larger;
    color: white;
    text-align: center;
    margin-left: 32%;
    margin-top: 10%;
}